/* GENERAL - INDEX */
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  align-self: center;
  max-width: 1440px;
  font-family: "DM Sans", sans-serif;
  margin: 44px auto;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  font-size: 1.75rem;
  color: $couleur-primaire;
}
h2 {
  font-size: 1.75rem;
  color: $couleur-secondaire;
}
h3 {
  font-size: 1rem;
  margin-bottom: 3px;
  color: $couleur-primaire;
}
p {
  font-size: 1rem;
}
p,
a,
li,
button {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  color: $couleur-primaire;
  text-decoration: none;
  list-style-type: none;
}

/* PAGE PHOTOGRAPHE */
.page-photographe {
  .main {
    display: block;
  }
  & h1 {
    font-size: 3rem;
    color: $couleur-secondaire;
  }
  & h2 {
    font-size: 1.25rem;
    color: $couleur-primaire;
  }
}
