.lightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image img {
  height: 300px;
  width: auto;
  object-fit: cover;
}

.next {
  position: absolute;
  right: 0;
}

.prev {
  position: absolute;
  left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  height: 200px;
  width: auto;
  margin: 5px;
  cursor: pointer;
}

.allMedia {
  display: flex;
  flex-wrap: wrap;
}
