@mixin tags($background: white) {
  border: solid 0.5px $couleur-tertiaire;
  font-weight: 500;
  border-radius: 11px;
  margin: auto 5px;
  padding: 3px 5px;
  background-color: $background;
}

@mixin illustration-photographe {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: $ombres;
}

@mixin bouton {
  width: 170px;
  height: 69px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: $couleur-primaire;
  cursor: pointer;
}
